.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    &__title {
        display: block;
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

}

