.modalWindow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
  &__button{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}